.about-me {
	display: flex;
	justify-content: space-around;
	align-items: center;
	margin-bottom: 60px;
	padding-top: 30px;
}

.about-info {
	max-width: 50%;
	background-color: #fff;
	margin-left: 6vw;
	padding: 20px;
	border-radius: 10px;
	color: #333;
}

.about-info h2 {
	font-size: 35px;
	margin-bottom: 15px;
}

.about-info h4 {
	margin: 0;
	padding: 0;
	margin-bottom: 5px;
}

#about-info {
	/* border-left: 2px solid #333; */
	padding-left: 8px;
	font-size: 15px;
	line-height: 1.8;
	color: #333;
	margin-bottom: 20px;
}

.info {
	display: flex;
	gap: 35px;
	margin-left: 8px;
	margin-top: 15px;
}

.info-element {
	cursor: pointer;
	padding-bottom: 0px;
	position: relative;
}

#underline::after {
	content: "";
	position: absolute;
	width: 90%;
	border-radius: 100px;
	height: 2px;
	bottom: -1px;
	left: 0;
	background-color: black;
	transform-origin: bottom left;
	/* animation: name duration timing-function delay iteration-count direction fill-mode; */
	animation: scale 0.25s ease-out forwards;
}

@keyframes scale {
	0% {
		transform: scaleX(0);
	}
	100% {
		transform: scaleX(1);
	}
}

.info-card {
	margin-left: 20px;
	margin: 30px 0px 0px 10px;
	font-size: 14px;
	min-height: 200px;
}

.info-card > div:before {
	content: "•";
	font-size: 20px;
	margin-right: 10px;
	position: absolute;
	top: -2px;
	left: -15px;
}

.info-card > div {
	position: relative;
	margin: 0px 0px 10px 15px;
}

.info-card p {
	display: flex;
	align-items: center;
	/* margin: 0px 0px 10px 0px; */
}

.info-card p:nth-child(1) {
	font-weight: bold;
	font-size: 15px;
}

.slidshow {
	width: 40%;
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
}

.mySlides {
	display: none;
	width: 50%;
}
.mySlides img {
	border-radius: 25px;
}

.text {
	color: black;
	text-align: center;
}

.fade {
	animation-name: fade;
	animation-duration: 6.5s;
}

@keyframes fade {
	0% {
		translate: 40vw;
		opacity: 0.5;
	}
	50% {
		translate: 0px;
		opacity: 1;
	}
	100% {
		translate: -40vw;
		opacity: 0.4;
	}
}
