.projects {
	display: grid;
	justify-content: center;
	grid-template-columns: 1fr 1fr 1fr;
	gap: 20px;
	margin: 40px 100px 60px 100px;
}

.project-card {
	background-color: #fff;
	border-radius: 10px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	overflow: hidden;
	transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.project-card:hover {
	transform: translateY(-5px);
	box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.project-image {
	overflow: hidden;
	height: 0;
	padding-top: 56.25%;
	background-size: cover;
	background-position: center;
}

.project-info {
	padding: 20px;
}

.project-title {
	font-size: 20px;
	margin-bottom: 10px;
	color: #333;
}

.project-description {
	font-size: 14px;
	color: #555;
	margin-bottom: 15px;
}

.visit-button {
	display: inline-block;
	padding: 10px 20px;
	margin-right: 10px;
	background-color: rgb(37 99 235);
	color: #fff;
	text-decoration: none;
	border-radius: 5px;
	font-size: 14px;
	cursor: pointer;
	transition: background-color 0.3s ease, color 0.3s ease;
}

.visit-button:hover {
	background-color: rgb(29 78 216);
}

.visit-button i {
	transition: all 0.3s ease, color 0.3s ease;
}

.visit-button:hover i {
	transform: rotate(180deg);
}

@media screen and (max-width: 1300px) {
	.projects {
		grid-template-columns: 1fr 1fr;
		margin: 40px 50px 60px 50px;
	}
}

@media screen and (max-width: 768px) {
	.projects {
		grid-template-columns: 1fr;
		margin: 40px 30px 60px 30px;

	}
}
@media screen and (max-width: 600px) {
	.projects {
		margin: 20px;
	}
}
