.skills {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	margin: 40px;
	/* margin-left: 40px; */
	justify-content: center;
	gap: 20px;
	margin-top: 60px;
}

.skill-card {
	width: 450px;
	background-color: #fff;
	border-radius: 10px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	overflow: hidden;
	transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.skill-card:hover {
	transform: translateY(-5px);
	box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.skill-title {
	font-size: 18px;
	margin: 20px;
	color: #333;
	display: flex;
	align-items: center;
}

.skill-description {
	margin: 0 20px 20px 20px;
	color: #666;
}

@media screen and (max-width: 1300px) {
	.skills {
		grid-template-columns: 1fr 1fr;
	}
	.skill-card {
		width: 100%;
	}
}
@media screen and (max-width: 768px) {
	.skills {
		grid-template-columns: 1fr;
	}
	.skill-card {
		width: 100%;
	}
}
@media screen and (max-width: 576px) {
	.skills {
		margin: 20px;
	}
	.skill-card {
		width: 100%;
	}
	.skill-title {
		font-size: 16px;
		margin: 10px;
	}
	.skill-description {
		margin: 0 10px 10px 10px;
	}
}
