html {
	scroll-behavior: smooth;
	scroll-padding: 80px;
}
* {
	padding: 0;
	margin: 0;
}
body {
	font-family: "Poppins", sans-serif;
	font-weight: 600;
	font-style: normal;
	background-color: rgb(249 250 251);
	margin: 0;
	padding: 0;
	width: 100%;
	/* overflow-x: hidden; */
	display: flex;
	flex-direction: column;
	justify-content: center;
}

#main {
	display: grid;
	margin: 40px;
	height: 90vh;
	gap: 20px;
	grid-template-columns: 1fr 1fr;
	align-items: center;
	justify-items: center;
	margin: 0px 80px;
	width: 90vw;
	box-sizing: border-box;
}

#left {
	/* margin-left: 70px; */
	display: flex;
	flex-direction: column;
}

#intro-text-para {
	font-size: 25px;
}
#intro-text {
	color: rgb(124, 58, 237);
	/* font-size: 25px; */
}

#intro {
	padding: 10px;
	font-size: 50px;
}

.contact_btn {
	padding: 10px;
	width: 110px;
	background-color: rgb(37 99 235);
	border-radius: 10px;
	margin-top: 10px;
	margin-left: 10px;
	transition: all 0.2s ease-in-out;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	color: #fff;
}

.contact_btn:hover {
	background: rgb(29 78 216);
}

.contact_btn i {
	transition: all 0.2s ease-in-out;
}
.contact_btn:hover i {
	rotate: 90deg;
	translate: 2px;
}

.image {
	width: 350px;
	border-radius: 50%;
	background-color: #add9f0;
}

.footer {
	background-color: rgb(124, 58, 237);
	color: #fff;
	padding: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
}

@media screen and (max-width: 850px) {
	#nav1 {
		display: none;
	}
	#nav2 {
		display: block;
	}
	.contact-form {
		margin: 20px;
		margin-top: 50px;
	}

	#main {
		/* display: grid; */
		/* grid-template-columns: 1fr; */
		margin: 0;
		height: 90vh;
		align-items: center;
		justify-items: center;
	}
	#left {
		/* order: 1; */
		margin: 0px;
		padding: 0px;
	}

	.image {
		width: 20vw;
		border-radius: 50%;
		background-color: #add9f0;
	}
	#intro {
		padding: 10px;
		font-size: 28px;
	}
	.contact_btn {
		font-size: 16px;
		padding: 8px;
	}
}
@media screen and (max-width: 600px) {
	.contact-form {
		margin: 20px;
		margin-top: 50px;
	}

	#main {
		/* display: grid; */
		grid-template-columns: 1fr;
		margin: 0;
		height: 60vh;
		align-items: center;
		justify-items: center;
	}
	#left {
		order: 1;
		margin: 0px;
		padding: 0px;
	}

	.image {
		width: 40vw;
		border-radius: 50%;
		background-color: #add9f0;
		margin-top: 80px;
	}
	#intro {
		margin-top: 40px;
		padding: 10px;
		font-size: 38px;
	}
	#projects {
		margin-top: 100px;
	}
}
