<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Document</title>
	</head>
	<body style="background-color: black">
		<svg
			width="236"
			height="68"
			viewBox="0 0 236 68"
			fill="none"
			xmlns="http://www.w3.org/2000/svg"
		>
			<path
				d="M0.5 0.5H89C90.6569 0.5 92 1.84315 92 3.5V29C92 30.6569 93.3431 32 95 32H148.5C150.157 32 151.5 33.3431 151.5 35V64C151.5 65.6569 152.843 67 154.5 67H235.5"
				stroke="url(#paint0_linear)"
			></path>
			<defs>
				<linearGradient
					id="paint0_linear"
					gradientUnits="userSpaceOnUse"
					x1="51.24000000000933"
					y1="0"
					x2="99.19900000001229"
					y2="19.900000000001228"
				>
					<stop stop-color="#2EB9DF" stop-opacity="0"></stop>
					<stop stop-color="#2EB9DF"></stop>
					<stop offset="1" stop-color="#9E00FF" stop-opacity="0"></stop>
				</linearGradient>
			</defs>
		</svg>
		<svg
			width="236"
			height="68"
			viewBox="0 0 236 68"
			fill="none"
			xmlns="http://www.w3.org/2000/svg"
		>
			<path
				d="M0.5 0.5H89C90.6569 0.5 92 1.84315 92 3.5V29C92 30.6569 93.3431 32 95 32H148.5C150.157 32 151.5 33.3431 151.5 35V64C151.5 65.6569 152.843 67 154.5 67H235.5"
				stroke="url(#paint0_linear)"
				strokeWidth="2"
			></path>
			<defs>
				<linearGradient
					id="paint0_linear"
					gradientUnits="userSpaceOnUse"
					x1="0"
					y1="0"
					x2="236"
					y2="0"
				>
					<stop stop-color="#2EB9DF" stop-opacity="0"></stop>
					<stop offset="0.5" stop-color="#2EB9DF"></stop>
					<stop offset="1" stop-color="#9E00FF" stop-opacity="0"></stop>
				</linearGradient>
			</defs>
		</svg>
	</body>
</html>
